body {
  color: #fff;
  background-color: black;
    }

#background{
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
}

#background::after{
  content: "";
  background: url("../img/broccoli.png"); no-repeat center fixed;
  background-size: cover;
  opacity: .2;
  top:75px;
  left:40px;
  bottom:100px;
  right:0;
  position: absolute;
  z-index: -1;
};

a, a:active, a:visited {
  color: #0066CC;
}

.content {
  margin-left: 30px;
  max-width: 1200px;
  min-width: 480px;
}

header {
  background: #0a4b03;
  height: 100%;
  width: 100%;
}

#navbar {
  background-color: #2f2f69;
  color: #888;
  display: block;
  margin-top: 0;
  overflow: hidden;
  line-height: 50px;
 }

nav ul {
    margin: 0;
    padding: 0;
    float: right;
  }

.border{
    border-bottom-color: blue;
    visibility: none;
}

.nav-item {
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    /*border-bottom: 2px solid white;*/
    height: 100%;
    float: left;
    list-style-type: none;
   
  /* See: https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_transitions */
}

.nav-item:hover a, nav > ul li.active a {
  color: #fff;
  border-bottom: 2px solid white;
}

.nav-item div {
    background-color: #39a443;    
    position: absolute;
    width: 20px;
    opacity: 0;
    transition: all 300ms ease-in-out;
}

.nav-item:hover > div {
    display: block;
    width: 150px;
    opacity: 1;
}

.nav-item > div ul > li {
    display: block;
}

.nav-item-dropdown-anchor {
    color: #fff;
    font-weight: normal;
    display: block;
    line-height: 40px;
}

.nav-item > div ul > li:hover > a {
    background-color: #0a4b03;
}

nav a {
  display: block;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  margin-right: 30px;
  font-family: "Arial";
  font-size: 18px;
  transition: color 200ms ease-in-out;
}

footer {
  border-top: 1px dotted #999999;
  clear: both;
  padding: 1em 0;
  margin-top: 800px;
}

footer p {
  font-size: 0.75em;
  padding: 0;
  margin: 0;
  font-family: "Georgia";
}

.gallery {
  margin: 0;
  padding: 0;
}

.gallery li {
  background-color: #02aab5;
  border: 1px solid #999999;
  border-radius: 2px;
  float: left;
  list-style-type: none;
  padding: 5px;
  margin: 16px;
}

.gallery li img {
  border-radius: 2px;
  vertical-align: top;
  height: 200px;
  width: 200px;
}

.gallery li img:hover {
  opacity: 0.5;
}




/* I don't know what this is yet.
.profile-photo {
}

.profile-content {
}
