body {
  color: black;
  background-color: black;
    }

#background{
  display: block;
  position: relative;
  margin: 0 150px 0 150px;
  background-color: #88A65E;
}
/*
#background::after{
  content: "";
  background: url("../img/broccoli.png") no-repeat;
  background-size: contain;
  opacity:.1;
  top:250px;
  left:120px;
  bottom:100px;
  right:0;
  position: absolute;
};
*/

.scriptcode {
    display: inline-block;
    position: absolute;
    margin-top: 0;
    overflow: hidden;
    margin: 0;
      }

a, a:active, a:visited {
  color: #0066CC;
}

.content {
  margin: 0 100px 0 100px;
 }

header {
  background: #8C2318;
  margin: 0;
  padding-bottom: 50px;
}

#navbar {
  background-color: #5E8C6A;
  color: #888;
  display: block;
  margin-top: 0;
  overflow: hidden;
  height: 45px;
  margin: 0;
  z-index: 7;
 }

nav ul {
    margin: 0;
    padding: 0;
    float: right;
  }

.border{
    border-bottom-color: blue;
    visibility: none;
}

.nav-item {
    cursor: pointer;
    display: inline-block;
    list-style-type: none;
    /*border-bottom: 2px solid white;*/
    height: 100%;
    float: left;
    list-style-type: none;
   
  /* See: https://developer.mozilla.org/en-US/docs/Web/Guide/CSS/Using_CSS_transitions */
}

.nav-item:hover a, nav > ul li.active a {
  color: #fff;
  border-bottom: 2px solid #fff;
}

.nav-item div {
    background-color: #5E8C6A;    
    position: absolute;
    width: 150px;
    visibility: hidden;
    opacity: 0;
    transition: all 200ms ease-in-out;
    z-index: 10;
}

.nav-item:hover > div {
    width: 150px;
    opacity: 1;
    visibility: visible;
}

.nav-item > div ul > li {
    display: block;
}

.nav-item-dropdown-anchor {
    color: #fff;
    font-weight: normal;
    display: block;
    line-height: 40px;
}

.nav-item > div ul > li:hover > a {
    background-color: #BFB35A;
}

nav a {
  display: block;
  line-height: 40px;
  text-decoration: none;
  color: #fff;
  margin-right: 30px;
  font-family: "Arial";
  font-size: 18px;
  transition: color 200ms ease-in-out;
}

footer {
  border-top: 1px dotted #8C2318;
  clear: both;
  padding: 1em 0;
  margin-top: 600px;
  font-family: "Arial";
  font-size: .7em;
  opacity: .7;
  line-height: 15px;
  color: #F2C45A;
  background-color: #5E8C6A;
}

footer p {
  font-size: 0.5em;
  padding: 0;
  margin: 0;
  font-family: "Arial";
}

.gallery {
  margin: 0;
  padding: 0;
}

.gallery li {
  background-color: black;
  border-radius: 2px;
  float: left;
  list-style-type: none;
  padding: 5px;
  margin: 16px;
}

.gallery li img {
  border-radius: 2px;
  vertical-align: top;
  height: 200px;
  width: 200px;
}

.gallery li img:hover {
  opacity: 0.5;
}

iframe {
  width:550px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  border: solid #0a4b03 5px;

 }

.frame{
  z-index: 5;
  position:relative;
  opacity:1;

}

.flash-comment{
  text-align: center;
}

/* I don't know what this is yet.
.profile-photo {
}

.profile-content {
}
