body {
  font-size: 1rem;
  line-height: 1.6875rem;
  font-family: "Droid Serif";
}

h1, h2, h3, h4 {
  font-weight: 300;
}

h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2.1875rem;
  line-height: 3.375rem;
  margin-left: 1.6875rem 0;
  color: #88A65E;
}

header h1 {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 2.5rem;
  margin: 0 20px 0 20px;
  animation: fadeInUp;
  color: #F2C45A;

}

h2 {
  font-size: 1.75rem;
  line-height: 3.375rem;
  margin: 1.6875rem 0;
}

h3 {
  font-size: 1.4375rem;
  line-height: 1.6875rem;
  margin: 1.6875rem 0;
}

h4 {
  font-size: 1.15rem;
  line-height: 1.6875rem;
  margin: 1.6875rem 0;
}

/*what is a "pre"?  It was listed alongside the below*/
p {
  margin: 1.6875rem 0;
  line-height: 1.8rem;
  font-size: 1rem;
  font-family: "Droid Serif";
  }

ul, ol {

}